<div id="comments">
  <ul class="media-list">
    <% @comments.each do |comment| %>
      <li class="media">
        <div class="media-body">
          <h4 class="media-heading"><%= time_ago_in_words(comment.created_at) %> ago</h4>
          <%= simple_format comment.content %>
        </div>
      </li>
    <% end %>
  </ul>
</div>