<%= simple_form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.input :content, rows: 3, class: 'form-control' %>
  </div>
  <div class="field-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>