<%= form_for [@typeable, @type] do |f| %>
  <% if @type.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>