<p id="notice"><%= notice %></p>

<h1>Listing Phone Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_types.each do |phone_type| %>
      <tr>
        <td><%= link_to phone_type.title, phone_type %></td>
        <td><%= link_to 'Show', phone_type %></td>
        <td><%= link_to 'Edit', edit_phone_type_path(phone_type) %></td>
        <td><%= link_to 'Destroy', phone_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone type', new_phone_type_path %>
