<!--Jobs-->
<p id="notice"><%= notice %></p>

<%= page_header_index("Jobs <span class='badge'>#{@jobs.count}</span>") %>

<div class="row">
  <div class="col-sm-2">
    <%= link_to 'New Job', new_job_path, class: 'btn btn-primary btn-block' %>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4">
            <label>Search</label>
            <input class="form-control"></input>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <% @jobs.each do |job| %>
          <li class="list-group-item">
            <div style="background-color: green; width:80px;color:white;padding: 0 4px;margin-right:4px;display:inline-block;text-align:right;">Status</div><%= link_to job.name, job %> <%= content_tag(:small, "#{job.comments.count} Comments", class: '') %>
            <%= link_to 'Edit', edit_job_path(job), class: 'pull-right' %>
          </li>
        <% end %>
      </ul>
      <%= content_tag(:div, class: "panel-footer") do %>
        <%= content_tag(:small, "Displaying #{@jobs.count} jobs") %>
      <% end %>
    </div>
  </div>
</div>