<p id="notice"><%= notice %></p>

<h1><%= @job.name %> <small><%= @job.job_type %></small></h1>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<div class="row">
  <div class="col-sm-8">
  </div>
  <div class="col-sm-4">
    <h2>Comments</h2>
    
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>