<p id="notice"><%= notice %></p>

<%= page_header(@contact) %>
<%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-primary' %>

<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <h3>Contact Info</h3>
        <%= render "phone_numbers/phone_numbers" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h2>Comments</h2>
    
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>