<%= simple_form_for [@phoneable, @phone_number] do |f| %>
  <% if @phone_number.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @phone_number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field-group">
      <%= f.input :number, class: 'form-control', label: false, placeholder: '(123) 456-7890' %>
    </div>
    <div class="field-group">
      <%= f.submit 'Save', class: 'btn btn-primary btn-sm' %>
    </div>
<% end %>