<div id="phone_numbers">
  <strong>Phone Numbers</strong>
  
  <table class="table table-condensed table-hover">
    <tr>
      <th>Number</th>
      <th></th>
    </tr>
    <% @phone_numbers.each do |phone| %>
      <tr>
        <td><%= phone.number %></td>
        <td><%= link_to 'Edit', edit_contact_phone_number_path(@contact, phone), class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </table>
      <%= render 'phone_numbers/form' %>
</div>